@media(max-width: 76rem){
    /* 1215 / 16 = 76 */

    html{
        font-size: 56.25%;
    }
    h1, h2, h3, h4, h5{
        letter-spacing: -1px;
    }
}
@media(max-width: 60rem){
    /* 950 / 16 = 60 */
    html{
        /* 8 / 16 = 50 */
        font-size: 50%;
    }
    .feature-grid-section{
        grid-template-columns: 1fr 1fr;
        row-gap: 6rem;
    }
    .hero-heading{
        font-size: 4.8rem;
    }
}
@media(max-width:46.25rem){
    /* 740 / 16 */
    html{
        font-size: 43.75% ;
        /* 7 / 16 */
    }
    .hero-section{
        grid-template-columns: 1fr;
        margin-bottom: 10rem;
    }
    .swap-img{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .welcome-picture{
        margin-top: 8rem;
        margin-bottom: 0;
        height: 26rem;
    }
    .welcome-section{
        margin-top: 0;
        height: 30rem;
    }
}
@media(max-width: 31.25rem){
    /* 500 / 16 */
    html{
        /* 6 / 16 */
        font-size: 37.5%;
    }
    p{
        font-size: 2rem;
    }
    .feature-grid-section{
        grid-template-columns: 1fr ;
    }    
    h5{
        font-size: 2.2rem;
}


